<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="mongo_db" value="ssrs"/>
    <add key="mongo_collection" value="usage"/>
  </appSettings>
  <connectionStrings>
    <add name="mongoDb" connectionString="mongodb://localhost" />
    <add name="reportsServer" connectionString="server=ServerName;uid=UserName;pwd=Password;database=ReportServer;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>